MYSQL_HOST=brand-alignment-portal-db-instance-1.cm1iiczbms5p.us-east-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_USER=mcp-poc-user
MYSQL_PASSWORD=DoulC6sp58VG4g
MYSQL_DATABASE=brand_alignment_portal


MCP_MAX_ROWS=200
MCP_QUERY_TIMEOUT=20
MCP_ALLOWED_TABLES=
MCP_DENIED_COLUMNS=
